<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen">
        <title>Contact book</title>
    </head>
    <body>
        <div>
            <p>Deleting contact. Enter a name:</p>
            <form action='/delete', method='post'>
                <table>
                    <tr class="inline"><td>name</td><td><input type='text' name='del_name'><input type='submit' value='Delete'></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>