<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen">
        <title>Contact book</title>
    </head>
    <body>
        <div>
            <p>Contact book</p>
            <p><b>Login</b></p>
            <br>
            <form action="/login" method="post">
                <table class="login">
                    <tr class="update_create"><td><input type="text" placeholder="Username" name="username" value="{{
                      request.form.username }}"></td></tr>
                    <tr class="update_create"><td><input type="password" placeholder="Password" name="password" value="{{
                      request.form.password }}"></td></tr>
                </table>
            <input type=submit value=Login>
            </form>
            {% if error %}
              <p class="error"><strong>Wrong username or password.</strong><br>{{ error }}
            {% endif %}
        </div>
    </body>
</html>
