<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen">
        <title>Contact book</title>
    </head>
  <body>
      <div>
      <p>Contact book</p>
          <table>
              <tr class="menu"><td><a href='/create'>Create a contact</a></td></tr>
              <tr class="menu"><td><a href='/update'>Update a contact</a></td></tr>
              <tr class="menu"><td><a href='/search'>Search a contact</a></td></tr>
              <tr class="menu"><td><a href='/delete'>Remove a contact</a></td></tr>
              <tr class="menu"><td><a href="/logout">Logout</a></td></tr>
          </table>
      </div>
  </body>
</html>