<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen">
        <title>Contact book</title>
    </head>
    <body>
    <div>
    <p>Create a contact</p>
        <form action='/create', method = 'post'>
            <table>
                <tr class="update_create"><td>name</td><td><input type=text name="name"></td></tr>
                <tr class="update_create"><td>address</td><td><input type=text name="address"></td></tr>
                <tr class="update_create"><td>phone number</td><td><input type=text name="phone"></td></tr>
                <tr class="update_create"><td>email</td><td><input type=text name="email"></td></tr>
                <tr class="update_create"><td>profession</td><td><input type=text name="profession"></td></tr>
                <tr class="update_create"><td>interests</td><td><input type=text name="interests"></td></tr>
            </table>
        <input type=submit value=Submit>
        </form>
        </div>
    </body>
</html>