<html><body>To crerate a new contact fill the fields
    <form action='/create', method = 'post'>
    <table>
    <tr><td>Names </td><td><input type=text name="names"></td></tr>
    <tr><td>Address </td><td><input type=text name="address"></td></tr>
    <tr><td>Birthday </td><td><input type=text name="bday"></td></tr>
    <tr><td>Phone Number </td><td><input type=text name="phone"></td></tr>
    <tr><td>Email </td><td><input type=text name="email"></td></tr>
    <tr><td>Profession </td><td><input type=text name="prof"></td></tr>
    <tr><td>Interests </td><td><input type=text name="interests"></td></tr>
    </table>
    <input type=submit value=Submit>
    </form>
</body></html